@media screen and (min-width: 428px) {
  /*------------- Main 2 section------------- */
  .container {
    max-width: 426px;
  }
}

@media screen and (min-width: 768px) {
  /*------------- Main 2 section------------- */
  .container {
    max-width: 766px;
  }

  .item-title {
    text-align: left;
  }

  .skills-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  /*------------- Main 2 section------------- */
  .container {
    max-width: 1128px;
  }

  .skills-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .skills-icon-box {
    background-color: var(--footer-text);
    display: flex;
    /* display: none; */
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
  }

  .item-title {
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    margin-bottom: 0;
  }

  .item-text {
    font-weight: 400;
  }
}
