@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }

  .footer-container {
    max-width: 398px;
  }

  .subscripe-input {
    width: 100%;
  }
  .modal {
    width: 392px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  .modal {
    width: 408px;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/dark-bg-tab-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
  }

  .item-title {
    text-align: left;
  }

  .skills-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .team-list {
    /* background-color: var(--background-color); */
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
    /* margin-left: auto;
  margin-right: auto; */
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    /* gap: 72px;
  max-width: 264px; */
  }

  .container-team {
    max-width: 768px;
    padding-left: 108px;
    padding-right: 108px;
  }

  .customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .customers-list-item {
    width: calc((100% - 48px) / 3);
    height: 88px;
  }

  .footer-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 24px;
    margin-left: 0;
    margin-bottom: 72px;
    gap: 0;
  }

  .footer-icons {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 72px;
  }

  .footer-subscribe {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    align-items: normal;
  }

  .subscribe-form {
    flex-direction: row;
    align-items: stretch;
    gap: 24px;
  }

  .subscribe-title {
    margin-right: auto;
  }

  .footer-container {
    width: 552px;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer-logo {
    margin-right: auto;
    margin-left: 0;
  }

  .header-list {
    /* display: none; */
    display: flex;
    gap: 40px;
    margin-right: auto;
    position: relative;
  }

  .header-address-list {
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 40px; */
    margin-left: 0;
    margin-right: 0;
  }

  .header-address {
    display: flex;
    /* display: none; */
    font-style: normal;
    margin-left: auto;
  }

  .menu-btn {
    display: none;
  }

  ul.header-address-list.list {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1128px;
  }

  .hero {
    padding: 188px 0 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }

  .skills-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .skills-icon-box {
    background-color: var(--footer-text);
    display: flex;
    /* display: none; */
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
  }

  .item-title {
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    margin-bottom: 0;
  }

  .item-text {
    font-weight: 400;
  }

  .images-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    margin-top: 0;
    margin-bottom: 72px;
  }

  .images-list {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    gap: 24px;
  }

  .images-item {
    flex-basis: calc((100% - 3 * 16px) / 3);
  }

  .images {
    padding-bottom: 120px;
  }

  .container-images {
    display: block;
  }

  .team-list {
    /* background-color: var(--background-color); */
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
  }

  .container-team {
    /* max-width: 768px; */
    padding-left: 156px;
    padding-right: 156px;
  }

  .customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .customers-list-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }

  /*------------- Footer------------- */

  .footer-box {
    margin-right: 120px;
    margin-left: 0;
    margin-bottom: 0;
    justify-content: normal;
  }

  .footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    margin-left: 0;
    margin-right: 0;
    justify-content: normal;
  }

  .footer-container {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    justify-content: normal;
    margin-left: auto;
    margin-right: auto;
    width: 1128px;
  }

  .footer-subscribe {
    margin-left: 80px;
    display: block;
  }

  .subscribe-form {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
    gap: 24px;
  }
  .subscribe-input {
    width: 264px;
  }

  .subscribe-title {
    text-align: start;
  }

  .header-address-list {
    /* display: none; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-left: 0;
    margin-right: 0;
  }
}
