body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

:root {
  --background-color: #ffffff;
  --title-color: #2e2f42;
  --text-color: #434455;
  --footer-text: #f4f4fd;
  --logo-color: #4d5ae5;
  --color-header: #e7e9fc;
  --hover-color: #404bbf;
  --customers-color: #8e8f99;
  --modal-background: #fcfcfc;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

/*------------- Header------------- */
.header {
  background-color: var(--background-color);
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  margin-right: 76px;
}

.logo-word {
  color: var(--title-color);
}

.header-list {
  display: flex;
  gap: 40px;
  margin-right: auto;
  position: relative;
}

.header-list-item {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-item:is(:hover, :focus) {
  color: var(--hover-color);
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.header-address-list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 0;
  margin-right: 0;
}

.header-address-item {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-item:is(:hover, :focus) {
  color: var(--hover-color);
}

.active {
  color: var(--hover-color);
}

.header-list-item.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
}

/*------------- Hero ------------- */

.hero {
  background-color: var(--title-color);
  max-width: 1440px;
  height: 600px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 188px 0;
  margin: 0 auto;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 48px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--background-color);
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--background-color);
  cursor: pointer;
  background-color: var(--logo-color);
  padding: 16px 32px;
  margin: 48px auto 0 auto;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:is(:hover, :focus) {
  color: var(--logo-color);
  background-color: var(--hover-color);
}

/*------------- Main 2 section------------- */

.skills {
  padding-top: 120px;
  padding-bottom: 120px;
}

.skills-list {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  gap: 24px;
}

.skills-icon-box {
  background-color: var(--footer-text);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.skills-list-item {
  flex-basis: calc((100% - 72px) / 4);
}

.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-top: 0;
  margin-bottom: 8px;
}

.item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 0;
}

/*------------- Main 3 section------------- */
.images {
  padding-bottom: 120px;
}

.images-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
  margin-top: 0;
  margin-bottom: 72px;
}

.images-list {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  gap: 24px;
}

.images-item {
  flex-basis: calc((100% - 3 * 16px) / 3);
}

/*------------- Main 4 section------------- */
.team {
  background-color: var(--footer-text);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
  margin-top: 0;
  margin-bottom: 72px;
}
.team-list {
  /* background-color: var(--background-color); */
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  gap: 24px;
}
.team-list-item {
  background-color: var(--background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.item-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.text-container {
  padding: 32px 16px;
  text-align: center;
}

.icons-box {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.icons-box-item {
  width: 40px;
  height: 40px;
}
.box-item-link {
  width: 100%;
  height: 100%;
  background-color: var(--logo-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-item-link:is(:hover, :focus) {
  background-color: var(--hover-color);
}

.item-icon {
  fill: var(--footer-text);
}

/*------------- Main 5 section------------- */

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-title {
  color: var(--title-color);
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 72px;
  margin-top: 0;
  text-align: center;
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customers-list-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--customers-color);
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:is(:hover, :focus) {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-link:is(:hover, :focus) .customers-icon {
  fill: #404bbf;
}

.customers-icon {
  fill: currentColor;
}

/*------------- Footer------------- */
.footer {
  background-color: var(--title-color);
  padding: 100px 0;
}

.logo-footer-word {
  color: var(--footer-text);
}

.footer-box {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text);
  max-width: 264px;
  margin: 0;
}

.footer-icons {
  fill: currentColor;
}

.icons-title {
  margin-bottom: 16px;
  font-weight: 500;
  color: var(--background-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.icons-box-footer {
  gap: 16px;
}

.footer-icon {
  fill: var(--footer-text);
}

.footer-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:is(:hover, :focus) {
  background-color: #31d0aa;
}

.footer-subscribe {
  margin-left: 80px;
}
.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
  margin-bottom: 16px;
}
.subscribe-form {
  display: flex;
  gap: 24px;
}
.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--background-color);
}

.subscribe-input::placeholder {
  color: var(--background-color);
}

.footer-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
  cursor: pointer;
  background-color: var(--logo-color);
  border-radius: 4px;
  border: none;
}

.supscribe-icon {
  margin-left: 16px;
  fill: var(--background-color);
}

/*------------- Portfolio------------- */

.project {
  background-color: var(--background-color);
  padding: 96px 0 120px;
}

.project-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.list-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--logo-color);
  background-color: var(--footer-text);
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-btn:is(:focus, :hover) {
  color: var(--background-color);
  background-color: var(--hover-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-second-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0;
}

.project-second-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translate(0, 0);
}

.portfolio-overlay-box {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  margin: 0;
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text);
  background-color: var(--logo-color);
  padding: 40px 32px;
  height: 100%;
  transform: translate(0, 100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.second-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin: 0 0 8px 0;
}

.second-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin: 0;
}

.application {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*------------- Modal ------------- */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: var(--modal-background);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-header);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  margin-left: auto;
  margin-bottom: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:is(:hover, :focus) {
  background-color: var(--hover-color);
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:is(:hover, :focus) .modal-close-icon {
  fill: var(--background-color);
}

.modal-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--title-color);
  text-align: center;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 11px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}

.modal-text {
  resize: none;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  padding: 8px 16px;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus {
  border-color: #4d5ae5;
}

.modal-text::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 0.85;
  color: #8e8f99;
}

.modal-label {
  margin-bottom: 4px;
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.btn-send {
  margin-top: 24px;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field-check {
  margin-bottom: 24px;
}

.modal-area {
  margin-bottom: 16px;
}

.input-wrap {
  position: relative;
}

.modal-input:focus {
  border-color: var(--logo-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--logo-color);
}

.check-text {
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--customers-color);
  justify-content: center;
}

.check-text span {
  display: inline-flex;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .check-text span {
  background-color: var(--hover-color);
  border: none;
  fill: var(--footer-text);
}

.privacy-link {
  color: var(--logo-color);
}
